<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        div {
            display: inline-block;
        }

        div label {
            display: block;
        }
    </style> <!--This is to maintain horizontal input fields-->
</head>
<body>

<form id="SanviInteractiveMCQ" action="/SanviInteractiveMCQ" method="GET">

    <h1>Welcome to Sanvi's Interactive MCQ</h1>

    <embed src="https://docs.google.com/document/d/1IT6uYrsKu7TQNqz9GQnQduObR5uBUv3k2om6d9ASwGI/edit?usp=sharing" width="800" height="600">

    <br>

    <div>
        <input name="id0" id="id0" required type="text" minlength="3" maxlength="20" size="10" />
        <label for="id0">Student Name</label>
    </div>

    <p>Question 1</p>

    <br>
    <input type="radio" id="A" name="A1" value="A">

    <label for="A">A</label><br>

    <input type="radio" id="B" name="A1" value="B">

    <label for="B">B</label><br>

    <input type="radio" id="C" name="A1" value="C">

    <label for="C">C</label><br>

    <input type="radio" id="D" name="A1" value="D">

    <label for="D">D</label><br>

    <input type="radio" id="E" name="A1" value="E">

    <label for="E">E</label><br>

    <br>


    <p>Question 2</p>

    <br>
    <input type="radio" id="A" name="A2" value="A">

    <label for="A">A</label><br>

    <input type="radio" id="B" name="A2" value="B">

    <label for="B">B</label><br>

    <input type="radio" id="C" name="A2" value="C">

    <label for="C">C</label><br>

    <input type="radio" id="D" name="A2" value="D">

    <label for="D">D</label><br>

    <input type="radio" id="E" name="A2" value="E">

    <label for="E">E</label><br>

    <br>


    <p>Question 3</p>

    <br>
    <input type="radio" id="A" name="A3" value="A">

    <label for="A">A</label><br>

    <input type="radio" id="B" name="A3" value="B">

    <label for="B">B</label><br>

    <input type="radio" id="C" name="A3" value="C">

    <label for="C">C</label><br>

    <input type="radio" id="D" name="A3" value="D">

    <label for="D">D</label><br>

    <input type="radio" id="E" name="A3" value="E">

    <label for="E">E</label><br>

    <br>


    <p>Question 4</p>

    <br>
    <input type="radio" id="A" name="A4" value="A">

    <label for="A">A</label><br>

    <input type="radio" id="B" name="A4" value="B">

    <label for="B">B</label><br>

    <input type="radio" id="C" name="A4" value="C">

    <label for="C">C</label><br>

    <input type="radio" id="D" name="A4" value="D">

    <label for="D">D</label><br>

    <input type="radio" id="E" name="A4" value="E">

    <label for="E">E</label><br>

    <br>


    <p>Question 5</p>

    <br>
    <input type="radio" id="A" name="A5" value="A">

    <label for="A">A</label><br>

    <input type="radio" id="B" name="A5" value="B">

    <label for="B">B</label><br>

    <input type="radio" id="C" name="A5" value="C">

    <label for="C">C</label><br>

    <input type="radio" id="D" name="A5" value="D">

    <label for="D">D</label><br>

    <input type="radio" id="E" name="A5" value="E">

    <label for="E">E</label><br>

    <br>


    <p>Question 6</p>

    <br>
    <input type="radio" id="A" name="A6" value="A">

    <label for="A">A</label><br>

    <input type="radio" id="B" name="A6" value="B">

    <label for="B">B</label><br>

    <input type="radio" id="C" name="A6" value="C">

    <label for="C">C</label><br>

    <input type="radio" id="D" name="A6" value="D">

    <label for="D">D</label><br>

    <input type="radio" id="E" name="A6" value="E">

    <label for="E">E</label><br>

    <br>


    <p>Question 7</p>

    <br>
    <input type="radio" id="A" name="A7" value="A">

    <label for="A">A</label><br>

    <input type="radio" id="B" name="A7" value="B">

    <label for="B">B</label><br>

    <input type="radio" id="C" name="A7" value="C">

    <label for="C">C</label><br>

    <input type="radio" id="D" name="A7" value="D">

    <label for="D">D</label><br>

    <input type="radio" id="E" name="A7" value="E">

    <label for="E">E</label><br>

    <br>


    <p>Question 8</p>

    <br>
    <input type="radio" id="A" name="A8" value="A">

    <label for="A">A</label><br>

    <input type="radio" id="B" name="A8" value="B">

    <label for="B">B</label><br>

    <input type="radio" id="C" name="A8" value="C">

    <label for="C">C</label><br>

    <input type="radio" id="D" name="A8" value="D">

    <label for="D">D</label><br>

    <input type="radio" id="E" name="A8" value="E">

    <label for="E">E</label><br>

    <br>


    <p>Question 9</p>

    <br>
    <input type="radio" id="A" name="A9" value="A">

    <label for="A">A</label><br>

    <input type="radio" id="B" name="A9" value="B">

    <label for="B">B</label><br>

    <input type="radio" id="C" name="A9" value="C">

    <label for="C">C</label><br>

    <input type="radio" id="D" name="A9" value="D">

    <label for="D">D</label><br>

    <input type="radio" id="E" name="A9" value="E">

    <label for="E">E</label><br>

    <br>


    <p>Question 10</p>

    <br>
    <input type="radio" id="A" name="A10" value="A">

    <label for="A">A</label><br>

    <input type="radio" id="B" name="A10" value="B">

    <label for="B">B</label><br>

    <input type="radio" id="C" name="A10" value="C">

    <label for="C">C</label><br>

    <input type="radio" id="D" name="A10" value="D">

    <label for="D">D</label><br>

    <input type="radio" id="E" name="A10" value="E">

    <label for="E">E</label><br>

    <br>


    <p>Question 11</p>

    <br>
    <input type="radio" id="A" name="A11" value="A">

    <label for="A">A</label><br>

    <input type="radio" id="B" name="A11" value="B">

    <label for="B">B</label><br>

    <input type="radio" id="C" name="A11" value="C">

    <label for="C">C</label><br>

    <input type="radio" id="D" name="A11" value="D">

    <label for="D">D</label><br>

    <input type="radio" id="E" name="A11" value="E">

    <label for="E">E</label><br>

    <br>


    <p>Question 12</p>

    <br>
    <input type="radio" id="A" name="A12" value="A">

    <label for="A">A</label><br>

    <input type="radio" id="B" name="A12" value="B">

    <label for="B">B</label><br>

    <input type="radio" id="C" name="A12" value="C">

    <label for="C">C</label><br>

    <input type="radio" id="D" name="A12" value="D">

    <label for="D">D</label><br>

    <input type="radio" id="E" name="A12" value="E">

    <label for="E">E</label><br>

    <br>


    <p>Question 13</p>

    <br>
    <input type="radio" id="A" name="A13" value="A">

    <label for="A">A</label><br>

    <input type="radio" id="B" name="A13" value="B">

    <label for="B">B</label><br>

    <input type="radio" id="C" name="A13" value="C">

    <label for="C">C</label><br>

    <input type="radio" id="D" name="A13" value="D">

    <label for="D">D</label><br>

    <input type="radio" id="E" name="A13" value="E">

    <label for="E">E</label><br>

    <br>


    <p>Question 14</p>

    <br>
    <input type="radio" id="A" name="A14" value="A">

    <label for="A">A</label><br>

    <input type="radio" id="B" name="A14" value="B">

    <label for="B">B</label><br>

    <input type="radio" id="C" name="A14" value="C">

    <label for="C">C</label><br>

    <input type="radio" id="D" name="A14" value="D">

    <label for="D">D</label><br>

    <input type="radio" id="E" name="A14" value="E">

    <label for="E">E</label><br>

    <br>


    <p>Question 15</p>

    <br>
    <input type="radio" id="A" name="A15" value="A">

    <label for="A">A</label><br>

    <input type="radio" id="B" name="A15" value="B">

    <label for="B">B</label><br>

    <input type="radio" id="C" name="A15" value="C">

    <label for="C">C</label><br>

    <input type="radio" id="D" name="A15" value="D">

    <label for="D">D</label><br>

    <input type="radio" id="E" name="A15" value="E">

    <label for="E">E</label><br>

    <br>


    <p>Question 16</p>

    <br>
    <input type="radio" id="A" name="A16" value="A">

    <label for="A">A</label><br>

    <input type="radio" id="B" name="A16" value="B">

    <label for="B">B</label><br>

    <input type="radio" id="C" name="A16" value="C">

    <label for="C">C</label><br>

    <input type="radio" id="D" name="A16" value="D">

    <label for="D">D</label><br>

    <input type="radio" id="E" name="A16" value="E">

    <label for="E">E</label><br>

    <br>


    <p>Question 17</p>

    <br>
    <input type="radio" id="A" name="A17" value="A">

    <label for="A">A</label><br>

    <input type="radio" id="B" name="A17" value="B">

    <label for="B">B</label><br>

    <input type="radio" id="C" name="A17" value="C">

    <label for="C">C</label><br>

    <input type="radio" id="D" name="A17" value="D">

    <label for="D">D</label><br>

    <input type="radio" id="E" name="A17" value="E">

    <label for="E">E</label><br>

    <br>


    <p>Question 18</p>

    <br>
    <input type="radio" id="A" name="A18" value="A">

    <label for="A">A</label><br>

    <input type="radio" id="B" name="A18" value="B">

    <label for="B">B</label><br>

    <input type="radio" id="C" name="A18" value="C">

    <label for="C">C</label><br>

    <input type="radio" id="D" name="A18" value="D">

    <label for="D">D</label><br>

    <input type="radio" id="E" name="A18" value="E">

    <label for="E">E</label><br>

    <br>


    <p>Question 19</p>

    <br>
    <input type="radio" id="A" name="A19" value="A">

    <label for="A">A</label><br>

    <input type="radio" id="B" name="A19" value="B">

    <label for="B">B</label><br>

    <input type="radio" id="C" name="A19" value="C">

    <label for="C">C</label><br>

    <input type="radio" id="D" name="A19" value="D">

    <label for="D">D</label><br>

    <input type="radio" id="E" name="A19" value="E">

    <label for="E">E</label><br>

    <br>


    <p>Question 20</p>

    <br>
    <input type="radio" id="A" name="A20" value="A">

    <label for="A">A</label><br>

    <input type="radio" id="B" name="A20" value="B">

    <label for="B">B</label><br>

    <input type="radio" id="C" name="A20" value="C">

    <label for="C">C</label><br>

    <input type="radio" id="D" name="A20" value="D">

    <label for="D">D</label><br>

    <input type="radio" id="E" name="A20" value="E">

    <label for="E">E</label><br>

    <br>
    <button>Submit</button>

</form>
</body>
</html>